body { 
    margin:0; 
    padding:0;
    /*background-color: #242F3E; */ /*gray of the map*/
    background-color: #17263C; /*blue of the map*/
}
    
.map {
    position:absolute;
    top:20;
    bottom:0;
    width:100%;
}

.container-big{
    width:99%;

}

