body {
    /*background-color: #242F3E; */ /*gray of the map*/
    background-color: #17263C; /*blue of the map*/
    margin: 0px;

}

#map {
    height: 95%;
    /*width: 90%;*/
}

.container-big{
    width:97%;
}


