<html>
  <head>
    {% if title %}
      <title>{{ title }} - microblog</title>
    {% else %}
      <title>Welcome to microblog</title>
    {% endif %}

    <link rel="shortcut icon" href="/static/imgs/gun.png"> 
    
    <link rel="stylesheet" type="text/css" href="/static/css/app.css">

    {% block head %} {% endblock %}

  </head>

  <body>
    <div>Microblog: 
      <a href="/index">Home</a>
      <a href="/counts">Country Counts </a>
      <a href="/map">Counts Map </a>
      <a href="/attack">Random Attack </a>
    </div>
    <hr>

    {% block content %}{% endblock %}

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="/static/js/d3.js"></script>
    <script src="/static/js/app.js"></script>


  </body>
</html>
