{% extends "base.html" %}

{% block content %}
<!--    <script src="/static/js/d3.js"></script>  -->
    <script src="http://code.jquery.com/jquery-1.10.2.js"></script>
    <script src="https://d3js.org/d3.v3.min.js"></script>
    <script src="/static/js/counts.js"></script>
    <script src="/static/js/sankey.js"></script>
    <script src="/static/sankey/ext/raphael.js" type="text/javascript"></script>
    <script src="/static/sankey/ext/jquery.js" type="text/javascript"></script>
    <script src="/static/sankey/js/sankey.js" type="text/javascript"></script>
        <link rel="stylesheet" href="/static/sankey/examples/css/style.css" />

    <script src="/static/radar/Chart.bundle.js"></script>
    <script src="/static/radar/samples/utils.js"></script>
    <script src="/static/js/radar.js"></script>
    <script src="/static/js/scatterplot.js"></script>


<!--    <script src="/static/js/require.js" type="text/javascript"></script> -->
    <script src="/static/js/d3.layout.cloud.js" type="text/javascript"></script>
    <script src="/static/js/wordle.js" type="text/javascript"></script>


    <script type=text/javascript>
      $(document).ready(function() {
        var data = {{country_data|tojson}};
        plot_counts(data)
        plot_sankey(data);
        draw_wordle(data);

        var plotData = new Object;
        plotData[data.country] = data;

        attack_radar_config = plot_radar(plotData, 'attacktype');
        target_radar_config = plot_radar(plotData, 'targettype');
        groups_radar_config = plot_radar(plotData, 'groups', false);
        scatter_config = plot_scatter(plotData, 'attacks_per_period');

        window.onload = function() {
            var scatter_ctx = document.getElementById("scatter-attacks").getContext("2d");
            window.myChart = new Chart(scatter_ctx, scatter_config)

            var attack_radar_ctx = document.getElementById("radar-attacktype");
            window.myPolarArea = Chart.PolarArea(attack_radar_ctx, attack_radar_config);

            var groups_radar_ctx = document.getElementById("radar-groups");
            window.myPolarArea = Chart.PolarArea(groups_radar_ctx, groups_radar_config);

            var target_radar_ctx = document.getElementById("radar-targettype");
            window.myPolarArea = Chart.PolarArea(target_radar_ctx, target_radar_config);
        };






      $(function() {
        $('a#calculate').bind('click', function() {
          $.getJSON('{{ url_for('get_country', country=country) }}', function(data) {
            console.log(data)
            $("#result").text(data);
          });
          return false;
        });
      });

    });
    </script>


<!--    
    <div id=result>?</div> 
    <a href=# id=calculate>calculate server side</a>
-->

    <div id="canvas-holder-groups" style="width:50%">
        <canvas id="radar-attacktype"></canvas>
    </div>

    <div id="canvas-holder-groups" style="width:50%">
        <canvas id="radar-targettype"></canvas>
    </div>

    <div id="canvas-holder-groups" style="width:50%">
        <canvas id="radar-groups"></canvas>
    </div>

    <div id="canvas" style="width:50%">
        <canvas id="scatter-attacks"></canvas>
    </div>


    <div id='sankey' style="width:800px;height:500px">
      &nbsp;
    </div>

    <h1> Known stuffs for country: {{country_data.country}} </h1>

    {% for entry in country_data %}
      {% if not entry == 'words'%}
        <div><p> {{entry}}: {{ country_data[entry] }} 
        </p></div>
      {% endif %}
    {% endfor %}


{% endblock %}

