{% extends "base.html" %}

{% block content %}
    <script src="/static/js/d3.js"></script>
    <script src="/static/js/counts.js"></script>
    <script src="/static/js/country.js"></script>
    <script src="/static/sankey/ext/raphael.js" type="text/javascript"></script>
    <script src="/static/sankey/ext/jquery.js" type="text/javascript"></script>
    <script src="/static/sankey/js/sankey.js" type="text/javascript"></script>
        <link rel="stylesheet" href="/static/sankey/examples/css/style.css" />


    <script type=text/javascript>
       $(document).ready(function() {
         var data = {{country_data|tojson}};
         // plot_counts(data)
         plot_sankey(data)
       });
    </script>
    <div id='sankey' style="width:500px;height:200px">
      &nbsp;
    </div>

    <h1> Known stuffs for country: {{country_data.country}} </h1>

    {% for entry in country_data %}
    <div><p> {{entry}}: {{ country_data[entry] }}: 
    </p></div>
    {% endfor %}
{% endblock %}

