{% extends "base.html" %}

{% block head %}
  <meta charset=utf-8 />
  <title></title>
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.3/dist/leaflet.css" />
  <link rel="stylesheet" type="text/css" href="/static/css/map.css">

  <script src="https://unpkg.com/leaflet@1.0.3/dist/leaflet.js"></script>

{% endblock %}


{% block content %}
  <div id='mapid' class='map' style="width:900px; height: 900px; position: relative  "> </div>
  <script type=text/javascript>
  var mymap = L.map('mapid').setView([20, 0], 3);

  L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token={accessToken}', {
      maxZoom: 5,id: 'mapbox.dark',
      accessToken: 'pk.eyJ1IjoianVsaXVzcHIiLCJhIjoiY2l6dHh5YTBmMDAxZzMyczNzaHI4YjNhZyJ9.-jUqs6BQQV9_nBUJufLTOg'}).addTo(mymap);


  var data = {{attack_locations |tojson}};
    console.log(data[0].longitude);
    for (var i=0; i<10000;i++) {
{#        console.log(data[i].longitude);#}
        L.marker([data[i].latitude,data[i].longitude]).addTo(mymap);
    }

  </script>

{% endblock %}




