{% extends "base.html" %}

{% block head %}
 <meta charset=utf-8 />
  <title></title>
  <script src='https://api.mapbox.com/mapbox.js/v3.0.1/mapbox.js'></script>
  <link href='https://api.mapbox.com/mapbox.js/v3.0.1/mapbox.css' rel='stylesheet' />
  <style>
    body { margin:0; padding:0; }
    .map { position:absolute; top:0; bottom:0; width:100%; }
  </style>
{% endblock %}

{% block content %}


<div id='map-one' class='map'> </div>
<script>
L.mapbox.accessToken = 'pk.eyJ1IjoianVsaXVzcHIiLCJhIjoiY2l6dHh5YTBmMDAxZzMyczNzaHI4YjNhZyJ9.-jUqs6BQQV9_nBUJufLTOg';
  L.mapbox.map('map-one', 'mapbox.streets').setView([38.8929, -77.0252], 14); //change mapbox.streets to mapbox.dark
</script>

{% endblock %}




