{% extends "base.html" %}

{% block head %}
    <meta charset=utf-8 />
    <title></title>
{#    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.3/dist/leaflet.css" />#}
{#    <script src="https://unpkg.com/leaflet@1.0.3/dist/leaflet.js"></script>#}
{#    <script src="https://unpkg.com/supercluster@2.3.0/dist/supercluster.min.js"></script>#}
    <link rel="stylesheet" type="text/css" href="../static/css/map.css">


    <style>
    #map {
        height: 90%;
      }
    </style>

{% endblock %}


{% block content %}
{#    <div id='mapid' class='map' style="width:900px; height: 900px; position: relative  "> </div>#}
{#    <script src="../static/js/map.js"></script>#}
    <div class="row">
    <div id="map" class="col-sm-10"></div>
    <div class="col-sm-2">
        <div class="panel panel-default">
            <div class="panel-heading" data-toggle="collapse" data-target="#attackFacets" aria-expanded="false" aria-controls="attackFacets">Attack Type</div>
            <div class="panel-body collapse" id="attackFacets">
                {% for attack_type in facets.attacktype %}
                    <div class="checkbox">
                        <label>
                            <input id="facet-{{attack_type}}" type="checkbox" value="{{ attack_type }}" onclick='handleFacetClick(this);'>
                            {{ attack_type }}
                        </label>
                    </div>
                {% endfor %}
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading" data-toggle="collapse" data-target="#targetFacets" aria-expanded="false" aria-controls="targetFacets" >Target Type</div>
            <div class="panel-body collapse" id="targetFacets">
                {% for attack_type in facets.targettype %}
                    <div class="checkbox">
                        <label>
                            <input id="facet-{{attack_type}}" type="checkbox" value="{{ attack_type }}" onclick='handleFacetClick(this);'>
                            {{ attack_type }}
                        </label>
                    </div>
                {% endfor %}
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading" data-toggle="collapse" data-target="#mapFacets" aria-expanded="false" aria-controls="mapFacets" >
                Map Options
            </div>
            <div class="panel-body collapse" id="mapFacets">
                <input type="checkbox" id="polygonsAllAttack"> Attacks number
{#                <input type="checkbox" id="flowChart"> Show Flow Chart#}
            </div>
        </div>
        </div>
        </div>


    <script type="text/javascript">
    function getMinMax(object) {
        var max = 0;
        var maxItem = null;
        var min = 100000;
        var minItem = null;
        for (var prop in object) {
            var item = object[prop]['attacks_count'];
            {#        console.log(item);#}
            if (item > max) {
                max = item;
                maxItem = item;
            }
            if (item < min) {
                min = item;
                minItem = item;
            }
        }
        return [maxItem, minItem];
    }

    </script>


    <script type=text/javascript>

    var attackLocations = {{attack_locations|tojson}};
    var eventids = Object.keys(attackLocations);
    var locations = Object.values(attackLocations);
    var facets = {{facets|tojson}};

    var countryBasics={{ country_basics|tojson }}
    var listClickedCountries=[];
    var MinMax=getMinMax(countryBasics);
    var minAttack=MinMax[1];
    var maxAttack=MinMax[0]
    var showCountryPolygonsClicked=0;
    {#        console.log(maxAttack)#}

    function initParamMap(a, b) {
    var map ;
    var markers = [];
    return function() {
    console.log(a, b);

    map = new google.maps.Map(document.getElementById('map'), {
    zoom: 2,
    minZoom: 2,
    center: {lat: 30, lng: 0},
    styles: [
    {elementType: 'geometry', stylers: [{color: '#242f3e'}]},
    {elementType: 'labels.text.stroke', stylers: [{color: '#242f3e'}]},
    {elementType: 'labels.text.fill', stylers: [{color: '#746855'}]},
    {
    featureType: 'administrative.locality',
    elementType: 'labels.text.fill',
    stylers: [{color: '#d59563'}]
    },
    {
    featureType: 'poi',
    elementType: 'labels.text.fill',
    stylers: [{color: '#d59563'}]
    },
    {
    featureType: 'poi.park',
    elementType: 'geometry',
    stylers: [{color: '#263c3f'}]
    },
    {
    featureType: 'poi.park',
    elementType: 'labels.text.fill',
    stylers: [{color: '#6b9a76'}]
    },
    {
    featureType: 'road',
    elementType: 'geometry',
    stylers: [{color: '#38414e'}]
    },
    {
    featureType: 'road',
    elementType: 'geometry.stroke',
    stylers: [{color: '#212a37'}]
    },
    {
    featureType: 'road',
    elementType: 'labels.text.fill',
    stylers: [{color: '#9ca5b3'}]
    },
    {
    featureType: 'road.highway',
    elementType: 'geometry',
    stylers: [{color: '#746855'}]
    },
    {
    featureType: 'road.highway',
    elementType: 'geometry.stroke',
    stylers: [{color: '#1f2835'}]
    },
    {
    featureType: 'road.highway',
    elementType: 'labels.text.fill',
    stylers: [{color: '#f3d19c'}]
    },
    {
    featureType: 'transit',
    elementType: 'geometry',
    stylers: [{color: '#2f3948'}]
    },
    {
    featureType: 'transit.station',
    elementType: 'labels.text.fill',
    stylers: [{color: '#d59563'}]
    },
    {
    featureType: 'water',
    elementType: 'geometry',
    stylers: [{color: '#17263c'}]
    },
    {
    featureType: 'water',
    elementType: 'labels.text.fill',
    stylers: [{color: '#515c6d'}]
    },
    {
    featureType: 'water',
    elementType: 'labels.text.stroke',
    stylers: [{color: '#17263c'}]
    }
    ]
    });

    markers = initMarkers(locations);
    // gridSize determins the number of clusters. larger grid size --> less clusters
    var mcOptions = {gridSize: 200, maxZoom: 15, imagePath: 'static/imgs/mapClusterImages/m'};
    var markerCluster = new MarkerClusterer(map, markers,mcOptions);


    //the whole stuff below does the polygon shit.
    //makes the country polygons. not really sure how to move it into a seperate function.
    var geojson = map.data.loadGeoJson('https://raw.githubusercontent.com/matej-pavla/Google-Maps-Examples/master/BoundariesExample/geojsons/world.countries.geo.json');

    map.data.setStyle({
        strokeWeight:0.5,
        strokeColor:'#000000',
        strokeOpacity:0.01,
        fillColor:'0x00000000',
        fillOpacity:0.01
    })

    map.data.addListener('mouseover', function(e) {
         var country= e.feature.j;
    if (!(listClickedCountries.indexOf(country)>=0)) {
    map.data.overrideStyle(e.feature, {
            strokeWeight: 1,
            strokeColor: '#ff0000',
            strokeOpacity: 1,
            fillColor: '#ff0000',
            fillOpacity: 0.2
            });
        };
    });

    map.data.addListener('mouseout', function(e) {
    var country= e.feature.j;
    if (!(listClickedCountries.indexOf(country)>=0) && showCountryPolygonsClicked===0 ){
        map.data.overrideStyle(e.feature, {
            strokeWeight: 1,
            strokeColor: '#000000',
            strokeOpacity: 0.01,
            fillColor: '0x00000000',
            fillOpacity: 0.001
            });
        }else if (!(listClickedCountries.indexOf(country)>=0) && showCountryPolygonsClicked===1){
            map.data.overrideStyle(e.feature, {
                strokeWeight:2,
                strokeColor:'#000000',
                strokeOpacity:0.1,
                fillColor:'#23ff09',
                fillOpacity:getOpacity(e.feature.f.name)
            });
        };
    });

    map.data.addListener('click', function(e) {
    var country= e.feature.j;
    if (listClickedCountries.indexOf(country)>=0){
        map.data.overrideStyle(e.feature, {
            strokeWeight: 1,
            strokeColor: '#ff0000',
            fillColor:'#ff0000',
            fillOpacity:'0.1',
            });
        delete listClickedCountries[listClickedCountries.indexOf(country)];
    //remove country to comparison
    }else{
        map.data.overrideStyle(e.feature, {
            strokeWeight: 1,
            strokeColor: '#ff0000',
            fillColor:'#ff0000',
            fillOpacity:'0.5'
            });
    listClickedCountries.push(country);
    //add country to comparison
    }
    });


    function showCountryPolygons() {
        map.data.revertStyle();
        map.data.setStyle(function(e){
            return {
                strokeWeight: 0.5,
                strokeColor: '#000000',
                strokeOpacity: 0.1,
                fillColor: '#23ff09',
                fillOpacity: getOpacity(e.f.name)
            }
        });
    };
    
    function getOpacity(countryName) {
{#        console.log(countryName)#}
        try {
            var attackCounts = countryBasics[countryName]['attacks_count']
{#            console.log(attackCounts);#}
            var countryOpacity = ((0.99 - 0.01) * (attackCounts - minAttack)) / (maxAttack - minAttack) + 0.01;
            {#        console.log("here i am")#}
            return countryOpacity;
        }
        catch (err){
            return 0.01;
        }
    }

    function unshowCountryPolygons() {
{#        console.log("here i am")#}
        map.data.revertStyle();
        map.data.setStyle({
            strokeWeight:0.5,
            strokeColor:'#000000',
            strokeOpacity:0.01,
            fillColor:'#0x00000000',
            fillOpacity:0.01
        });
    };

    //listens to toggling that one button or not.
    window.onload = function() {
        $("#polygonsAllAttack").change(function(){
            if (this.checked) {
{#                console.log("toggle 1");#}
                showCountryPolygons();
                showCountryPolygonsClicked=1;
            }else {
{#                console.log("toggle 2");#}
                unshowCountryPolygons();
                showCountryPolygonsClicked=0;
            }
            });
        };
    }}

    </script>



    <script>
    // Adds a marker to the map and push to the array.
      function addMarker(location) {
        var marker = new google.maps.Marker({
          position: location,
          map: map
        });
        markers.push(marker);
      }

      // Sets the map on all markers in the array.
      function setMapOnAll(map) {
        for (var i = 0; i < markers.length; i++) {
          markers[i].setMap(map);
        }
      }

      // Removes the markers from the map, but keeps them in the array.
      function clearMarkers() {
        setMapOnAll(null);
      }

      // Shows any markers currently in the array.
      function showMarkers() {
        setMapOnAll(map);
      }

      // Deletes all markers in the array by removing references to them.
      function deleteMarkers() {
        clearMarkers();
        markers = [];
      }
    </script>

    <script>
    var initMarkers = function(locations){
        var markers = locations.map(function(location, i) {
                var markerImg = "static/imgs/map_markers/"+i%5+".png";
                var marker = new google.maps.Marker({
                    position: location,
                    icon: markerImg
                });

                var eventid = eventids[i];

                marker.addListener('click', function() {
//                    $.getJSON('{{ url_for('get_attack', attack_id=eventid) }}', function(current_attack_data) {
                      $.getJSON('{{ url_for("get_attack", attack_id=eventid) }}'  + eventid, function(current_attack_data) {

                      var y = eventid.substring(0, 4);
                      var m = eventid.substring(4, 6);
                      var d = eventid.substring(6, 8);
                      var date = y + "-" + m + "-" + d;

                      var titleString;
                      if ( current_attack_data.hasOwnProperty('coutry') )
                          titleString = current_attack_data.country;
                      else 
                          titleString = 'This is a cluster'
                      
                      var contentString = '<div id="content">' +
                        '<p>'+date +'</p>'+
                        '<p>' + titleString + '</p>' + 
                        '<a href="/attack/'+eventids[i]+'">View attack</a>'
                        '</div>';

                      var infowindow = new google.maps.InfoWindow({
                        content: contentString
                      });

                      infowindow.open(map, marker);
                    });
                });

          return marker;
        });
        return markers;
    }
    </script>


    <script> var initMap = initParamMap(2, 3);  </script>
    <script src="https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js">
    </script>

    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDV99ga8LUQQ_z6gN_tjq3vNSPAZVo_D6Y&callback=initMap">
    </script>




{% endblock %}





